<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ПАХАН веб-узел</title>
	<link rel="shortcut icon" href="../img/small_icon.png">
	<link rel="stylesheet" href="../styles/hatelove.css">
	<link rel="stylesheet" href="../styles/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,300&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<h1><a href="../index.html">Дом страница Павла Гайдукевича</a></h1>
		</header>
		<p class="hh">Ненавижу и презираю</p>
		<div class="rows">
			<ul>
				<p>В людях:</p>
				<li>Двуличие</li>
				<li>Зависть</li>
				<li>Мелочность</li>
				<li>Надменность</li>
				<li>Притворство</li>
				<li>Сребролюбие</li>
				<li>Мягкотелость</li>
				<li>Инфантильность</li>
				<li>Сквернословие</li>
				<li>Неприятных запах изо рта</li>
			</ul>
			<ul>
				<p>В еде:</p>
				<li>Холодец</li>
				<li>Сметана</li>
				<li>Свинина</li>
				<li>Сало</li>
				<li>Шашлык из любого мяса</li>
				<li>Куриные крылья и ноги</li>
				<li>Органы животных(сердца, печень и тд.)</li>
				<li>Квашенная копуста</li>
				<li>Винегрет</li>
				<li>Рыба</li>
			</ul>
			<ul>
				<p>В культуре:</p>
				<li>Шансон</li>
				<li>Движения анархистов и коммунистов</li>
				<li>Успешный успех</li>
				<li>Бунт против всего на свете</li>
				<li>Спорт(футбол, хоккей и тд)</li>
				<li>Когда поп-корн почти закончился, а реклама перед фильмом — еще нет</li>
				<li>Сентиментальные фильмы </li>
				<li>Феминизм</li>
				<li>Культы личностей</li>
				<li>Эстрада</li>
			</ul>
		</div>
		<footer class="footer">
			<h2 class="footer__info">Сайт работает до завершения темы по информатике.</h2>
			<h3 class="footer__copy">© Paul Haidukevich 2022-2022</h3>
		</footer>
	</div>
</body>

</html>