<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ПАХАН веб-узел</title>
	<link rel="shortcut icon" href="../img/small_icon.png">
	<link rel="stylesheet" href="../styles/style.css">
	<link rel="stylesheet" href="../styles/hatelove.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,300&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<h1><a href="../index.html">Дом страница Павла Гайдукевича</a></h1>
		</header>
		<h2 class="hh">Обожаю и люблю</h2>
		<div class="rows">
			<ul>
				<p>В людях:</p>
				<li>Искренность</li>
				<li>Открытость</li>
				<li>Спокойствие</li>
				<li>Чувство стиля</li>
				<li>Интеллект</li>
				<li>Сдержанность</li>
				<li>Остроумие</li>
				<li>Смиренность</li>
				<li>Доброта</li>
				<li>Мужество</li>
			</ul>
			<ul>
				<p>В еде:</p>
				<li>Бананы</li>
				<li>Гранат</li>
				<li>Клубника</li>
				<li>Малина</li>
				<li>Вареные яйца</li>
				<li>Гречневая каша</li>
				<li>Молочный шоколад</li>
				<li>Бородинский хлеб</li>
				<li>Перловая каша</li>
				<li>Лапша без мяса</li>
			</ul>
			<ul>
				<p>В культуре:</p>
				<li>Worship</li>
				<li>Классическая литература</li>
				<li>Труды стоиков</li>
				<li>Альтернативный рок</li>
				<li>EDM</li>
				<li>Западные теле-шоу</li>
				<li>Сериал "Кремниевая долина"</li>
				<li>Поэзия русских классиков</li>
				<li>K-pop</li>
				<li>Сатира</li>
			</ul>
		</div>
		<footer class="footer">
			<h2 class="footer__info">Сайт работает до завершения темы по информатике.</h2>
			<h3 class="footer__copy">© Paul Haidukevich 2022-2022</h3>
		</footer>
	</div>
</body>

</html>