<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ПАХАН веб-узел</title>
	<link rel="shortcut icon" href="../img/small_icon.png">
	<link rel="stylesheet" href="../styles/style.css">
	<link rel="stylesheet" href="../styles/opinion.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,300&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<h1>Мысли</h1>
			<h3 class="homebutton"><a href="../index.html">Домой</a></h3>
		</header>
		<div class="blog__post">
			<div class="author__name">
				<img src="../img/profile-pic.png" height="75px" alt="" class="ava">
				<div class="personal__info">
					<h3 class="name">Pavel Haidukevich</h3>
					<div class="date__time">yesterday at 11:56am</div>
				</div>
			</div>
			<h2 class="header_">Футбольчик и Чемпионат Мира</h2>
			<p class="text">Удивительно, как внимание всего мира приковывается к тому, что со всего мира собрались
				люди, чтобы погонять мячик по газону. Я не вижу в этом ничего зрелищного и интересного. Но могут ли
				миллионы мух ошибаться? Даже среди моих товарищей есть поклонники этой дисциплины. Может быть в этом
				действительно что-то есть..</p>
		</div>
		<div class="blog__post">
			<div class="author__name">
				<img src="../img/profile-pic.png" height="75px" alt="" class="ava">
				<div class="personal__info">
					<h3 class="name">Pavel Haidukevich</h3>
					<div class="date__time">10 Nov at 7:19pm</div>
				</div>
			</div>
			<h2 class="header_">Проблема принятия людьми Христа</h2>
			<p class="text">Почему-то в нашем обществе вдруг стал популярен теизм. Возможно это произошло из-за... </p>
		</div>
		<div class="blog__post">
			<div class="author__name">
				<img src="../img/profile-pic.png" height="75px" alt="" class="ava">
				<div class="personal__info">
					<h3 class="name">Pavel Haidukevich</h3>
					<div class="date__time">7 Jul at 2:22am</div>
				</div>
			</div>
			<h2 class="header_">Мысли после прочтения 1984</h2>
			<p class="text">Прочитал классический роман 1984 Джорджа Оруэлла. Впечатлен. Надо все хорошенько обдумать...
				Интересно, влияет ли хоть один человек на этой планете на наш мир, или мы все движемся в неизвестном
				направлении</p>
		</div>

		<footer class="footer">
			<h2 class="footer__info">Сайт работает до завершения темы по информатике.</h2>
			<h3 class="footer__copy">© Paul Haidukevich 2022-2022</h3>
		</footer>
	</div>
</body>

</html>